<form [formGroup]="form" (ngSubmit)="onSubmitForm()" class="registration-form">
  <ng-container *ngFor="let field of registrationFields">
    <mat-form-field>
      <mat-label>{{ field.label }}</mat-label>
      <input
        [formControlName]="field.name"
        matInput
        [appCustomInputType]="field.type"
        [id]="field.name + '-field'" />
      <mat-error *ngIf="form.controls[field.name].invalid">{{
        getErrorMessage(form.controls[field.name])
      }}</mat-error>
    </mat-form-field>
  </ng-container>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    id="submit-registration-form"
    [disabled]="form.invalid">
    Submit
  </button>
</form>
